(
    left_eye: (
        image_width: 350,
        image_height: 350,
    ),
    right_eye: (
        image_width: 350,
        image_height: 350,
    ),
    v_offset: 0,
    space_between_back: 0,
    space_between_front: 0,
    model: YoloV11sFullONNX,
    model_configuration: (
        confidence: 0.32,
        iou: 0.75,
        kconf: 0.55,
    ),
)