#root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Noto Sans Mono", monospace;
}

.padding-around {
    padding: 10px;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    max-width: 300px;
    height: 6px;
    background: #333;
    outline: none;
    border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    background: #007acc;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 2px #000;
    border: 2px solid #1e1e1e;
}

input[type=range]::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background: #007acc;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 2px #000;
    border: 2px solid #1e1e1e;
}

input[type=range]::-ms-thumb {
    width: 14px;
    height: 14px;
    background: #007acc;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 2px #000;
    border: 2px solid #1e1e1e;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    background: #333;
    border-radius: 5px;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 6px;
    background: #333;
    border-radius: 5px;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 6px;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #333;
    border-radius: 5px;
}

input[type=range]::-ms-fill-upper {
    background: #333;
    border-radius: 5px;
}

.measurement-list {
    display: flex;
    gap: 4px; /* Adjust gap as needed */
}

.measurement-item {
    display: flex;
    align-items: center;
}

.measurement-item span {
    display: inline-block;
    text-align: right; /* Aligns text to the right */
    margin-right: 5px;
    color: #d4d4d4;
}

.measurement-item .value {
    display: inline-block;
    min-width: 20px; /* Ensures the width is constant */
    text-align: right; /* Aligns text to the right */
    padding: 2px 6px;
    background-color: #333;
    font-family: monospace;
    font-size: 14px;
    border-radius: 4px;
    color: #007acc;
}

select {
    width: 100%;
    max-width: 300px; /* Adjust as needed */
    padding: 10px;
    background-color: #333;
    color: #d4d4d4;
    border: 1px solid #1e1e1e;
    border-radius: 5px;
    appearance: none; /* Hides default arrow */
    cursor: pointer;
}

select::placeholder {
    color: #d4d4d4;
}

select option {
    background-color: #333;
    color: #d4d4d4;
}

.lr-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.lr-container .left,
.lr-container .right {
    flex: 1;
    min-width: 300px;
}

.status-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 5px;
    color: #d4d4d4;
    border-top: 1px solid #1e1e1e;
    height: 20px;
}

.status-bar .status {
    display: flex;
    gap: 10px;
}

.status-bar .time {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-bar .time * {
    height: 15px;
}

.status-bar .pill {
    padding: 0 5px;
    border-radius: 5px;
    font-size: 14px;
}

.down {
    background-color: rgba(217, 83, 79, 0.5);
    color: #fff;
}

.up {
    background-color: rgba(92, 184, 92, 0.5);
    color: #fff;
}

.info {
    background-color: rgba(91, 192, 222, 0.5);
    color: #fff;
}

.watermark {
    width: 100%;
    height: 100%;
    background: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.watermark svg {
    scale: 4;
    opacity: 0.2;
    filter: grayscale(0.5);
}

.watermark span {
    font-size: 24px;
    color: #3f3f40;
}

.dockview-cstm {
    height: calc(100% - 30px)!important;
}