#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.padding-around {
  padding: 10px;
}

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  max-width: 300px;
  height: 6px;
  background: #333;
  outline: none;
  border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background: #007acc;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 2px #000;
  border: 2px solid #1e1e1e;
}

input[type=range]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: #007acc;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 2px #000;
  border: 2px solid #1e1e1e;
}

input[type=range]::-ms-thumb {
  width: 14px;
  height: 14px;
  background: #007acc;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 2px #000;
  border: 2px solid #1e1e1e;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  background: #333;
  border-radius: 5px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  background: #333;
  border-radius: 5px;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #333;
  border-radius: 5px;
}

input[type=range]::-ms-fill-upper {
  background: #333;
  border-radius: 5px;
}

.measurement-list {
  display: flex;
  gap: 4px; /* Adjust gap as needed */
}

.measurement-item {
  display: flex;
  align-items: center;
}

.measurement-item span {
  display: inline-block;
  text-align: right; /* Aligns text to the right */
  margin-right: 5px;
  color: #d4d4d4;
}

.measurement-item .value {
  display: inline-block;
  min-width: 20px; /* Ensures the width is constant */
  text-align: right; /* Aligns text to the right */
  padding: 2px 6px;
  background-color: #333;
  font-family: monospace;
  font-size: 14px;
  border-radius: 4px;
  color: #007acc;
}